<a href="https://colab.research.google.com/github/zim10/python_fandamentals_home_work/blob/main/online_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
len('google')
# data camp, course-era certificate is really value, tablue is really important for data scientist

6

In [2]:
'g'== 'G'

False

In [5]:
#'G'/'g'  # type error, unsupported operand types errorr
2/2

1.0

In [7]:
len("my name is azim") # string is a jju

15

In [10]:
# for comparison use == ; # syntyx error means if i wrong to write
1==1
1=='g'

False

In [12]:
# the word "Google" has 5 unique charecter; not 4 cuase G== g not same
'G'=='g'

False

In [14]:
# Set A= (1, 3, 5), Set B={1,2,3}; Set A instersection Set B= {1,2,3,5}. True or False
a={1,3,5}
b={1,2,3}
print(a.intersection(b))
print(a.union(b))
print(type(a))

{1, 3}
{1, 2, 3, 5}
<class 'set'>

In [15]:
1==1.00

True

In [17]:
# there are mainly 4 types of data - str: string, text; int: ineteger numbes; float: real numbers, decimal values; bool: True, False
a= True
b= False
a==b

False

In [19]:
# there are three rules in data science
# Data Engineer
# Data Analyst
# Data Scientist: SQL, Python, Tableau, microsoft exel

In [22]:
# print function is used if you not to lost your data, like
#2+2
#3+4
print(2+2)
print(3+4)

4
7

In [32]:
name= 'Lionen Andres Messi'
birth_year=1987
height= 5.7
is_he_a_goat= True
print('name :', name)
print(type(name))
print('birth-year :', birth_year)
print(type(birth_year))
print ('height :', height)
print(type(height))
print ('Is he the greatest of all time? ', is_he_a_goat)
print(type(is_he_a_goat))

name : Lionen Andres Messi
<class 'str'>
birth-year : 1987
<class 'int'>
height : 5.7
<class 'float'>
Is he the greatest of all time?  True
<class 'bool'>

In [36]:
# data type check is very important for understanding the others code
# logical operator
abul=2;
babul=3
abul==babul
abul<babul
# here we get only one value, now use print function

True

In [37]:
abul=2;
babul=3
print(abul==babul)
print(abul<babul)

False
True

In [42]:
#comparison operator 
print (1==1)
print(1>0.1)
print(2<4)
print(2<=3)
print(2!=3)

True
True
True
True
True

In [46]:
# logical operator
a=1
b=2
c=3
d=4
print(a<b and c<d)
print(a>b and c<d)
print(a<b and c>d)
print(a>b and c>d)

True
False
False
False

In [48]:
print(a<b or c<d)
print(a>b or c>d)

True
False

In [49]:
print(a<b and not c<d)

False

In [56]:
# membership Operators
x='abul'
y='babul'
z='cabul'
print(x in y)
print(x in z)
print(y in x)

True
True
False

In [76]:
# string manupulation
var='azim'

In [77]:
# how to capitalize the first character of a string?
var_cap=var.capitalize()
print(var_cap)
print(var)

Azim
azim

In [78]:
# how to find the frequency of the substring in a string?
str_count=var.count('az')
print(str_count)

1

In [79]:
var.endswith('m')

True

In [80]:
var.startswith('a')

True

In [83]:
string= 'I love Bangladesh'
print(string.endswith('I'))
string.startswith('I')

True

In [85]:
string[0]

'I'

In [87]:
string[-1]

'h'

In [88]:
#pyhton is a zero index based
string[7:17]

'Bangladesh'

In [94]:
# right side is the -1 index, left side is the 0 index
print([string[:8]])
print(string[:-2])

['I love B']
I love Banglade

In [95]:
# how to convert  a string into lower in upper
string.upper()

'I LOVE BANGLADESH'

In [96]:
string.lower()

'i love bangladesh'

In [102]:
# how to remove space from a string
#print(type(1,00)), type error, because of coma, it denotes a string
string='   azim   '
string.strip()

'azim'

In [105]:
string= 'Nython is a 0-index based Nrogramming language'
string.replace('N','P')

'Python is a 0-index based Programming language'

In [111]:
# how to find the presence of an alphanumeric characger, alphabet or digit?
string= 'Sakibalhasan100'
print(string.isalpha())
print(string.isdigit())
print(string.isalnum())

False
False
True

In [ ]:
# list